src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd23415e-e1c1-4004-859f-e3b14cbb2bac" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="49e56667-f96a-47c5-8ce1-959f93f102a3" >
		<http:listener doc:name="Listener" doc:id="e32df42f-54f1-4774-ac4e-9389eeca8820" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<set-payload value="#[now() as String]" doc:name="Set Payload" doc:id="528e31e2-ce0e-4d72-b6e4-6c025bac169e" />
		<logger level="INFO" doc:name="Logger" doc:id="9587e0ea-0937-4c15-baac-e6b7a1e0010c" message='"end log"'/>
	</flow>
</mule>
